<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" placeholder="Enter Username" name="username">
        <br><br><br>
        <textarea name="content" id="" rows="20" cols="50" placeholder="Enter Your Content Here!!!"></textarea>
        <br>
        <br>
        <input type="submit" value="Post" style="width: 80px; height: 40px; background-color: maroon; color: white; border-radius: 10%; cursor: pointer;">
    </form>
</body>
</html>