<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="post">
        <h2 class="username">@<%= post.username %></h2>
        <p class="content"><%= post.content %></p>
        </div>
</body>
</html>